body {
  margin: 0;
  font-family: 'consolas', sans-serif;
  background-color: var(--background-color);
}

.title {
  text-align: center;
}

#canvas {
  background-color: white;  
  border-radius: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
}

h1 {
  color: var(--accent-color);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

.button_container {
  display:flex;
  flex-direction:row;
  justify-content: center;
  gap:20px;
  :nth-child(1) {background-color: var(--primary-color);}
  :nth-child(2) {background-color: var(--secondary-color);}
  :nth-child(3) {background-color: var(--tertiary-color);}
  :last-child {background-color: var(--accent-color);}
  :hover {background-color: var(--tertiary-color);cursor: pointer;}
}

.button {
  font-size: large;
  flex:1;
	border: none;
  background-color: var(--background-color);
  color: #f4f4f4;
  font-weight: 100px;
  padding: var(--spacing);
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  padding: var(--spacing);
}

.link {
  width:fit-content;
  padding: var(--spacing);
  background-color: var(--accent-color);
  border-radius: 5px;
}